$primary-color: #a28585;
$border-width: 3px;
$border-color: #1f0a0a;
$boder-radius: 20px;
$box-color: #9f1414;
$color-text: #fff;
.container{
  font-weight: bold;
  color: $color-text;
  flex-wrap: wrap;
  display: flex;
  background: $primary-color;
  border: $border-width solid $border-color;
  border-radius: $boder-radius;
}
.box{
  border-radius: $boder-radius;
  padding: 30px;
  margin: 5px;
  background: $box-color;
}
