@use "_partial/bodyStyle";
@use "_partial/btnTop";
@use "_partial/inheritance";
@import "_partial/variables";
@import "_partial/mixins";

.container {
  font-weight: bold;
  color: $color-text;
  flex-wrap: wrap;
  display: flex;
  background: $primary-color;
  border-radius: $boder-radius;
  border: $border-width solid $border-color;

  .box {
    @include themeBox($borderRadius:10px, $pad: 30px, $marg: 10px);
    h5 {
      padding: 4px;
      border-radius: $boder-radius;
      border: 1px solid white;
      background: rgba(255, 69, 0, 0.47);
      @include themeBox($theme: rgba(255, 69, 0, 0.8),$pad: 10px, $marg: 10px)
    }
  }

}
