@use "_partial/bodyStyle";
@use "_partial/btnTop";
@import "_partial/variables";
.container {
  font-weight: bold;
  color: $color-text;
  flex-wrap: wrap;
  display: flex;
  background: $primary-color;
  border-radius: $boder-radius;
  border: $border-width solid $border-color;

  .box {
    border-radius: $boder-radius;
    padding: 30px;
    margin: 5px;
    background: $box-color;

    h5 {
      padding: 4px;
      border-radius: $boder-radius;
      border: 1px solid white;
      background: rgba(255, 69, 0, 0.47);
    }
  }

}
